{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Hypnos Administration Panel{% endblock %}

{% block content %}
<div class="text-blue-700">Welcome to Hypnos Hotels Administration Panel</div>
{% endblock %}